<script src="{{ '/assets/javascripts/copy-button.js' | relative_url }}"></script>

<div class="page__footer-follow">
    <ul class="social-icons">
        {% if site.footer.links %}
        {% for link in site.footer.links %}
        <li>
            <a href="{{ link.url }}" rel="nofollow noopener noreferrer">
                {% if link.icon contains '/' %}
                <img src="{{ link.icon }}" alt="{{ link.label }}"
                    style="height: 1.5em; vertical-align: middle;{% if link.label == '' %} margin-right: 0;{% endif %}">
                {% if link.label and link.label != '' %}{{ link.label }}{% endif %}
                {% else %}
                <i class="{{ link.icon }}" aria-hidden="true"></i> {{ link.label }}
                {% endif %}
            </a>
        </li>
        {% endfor %}
        {% endif %}
    </ul>
</div>

<div class="page__footer-copyright">
    {{ site.copyright | default: site.title | markdownify | remove: "<p>" | remove: "</p>" }}
</div>